body {
  background: #e6e6e6;
  padding: 0px;
  margin: 0px;
}

#wrapper{
  height: 100vh;
  width: 100%;
  opacity: 0;
  padding: none;
  margin: none;
  transition: opacity 4s ease-in;
}

h1{
  font-family: Oroban;
  font-weight: normal;
  font-size: 80px;
  margin:0px;
  margin-bottom: 15px;
}

h2{
  font-family: Oroban;
  font-weight: normal;
  font-size: 150px;
  margin:0px;

}

p{
  margin: 0px;
  font-family: Osmose;
  font-size: 25px;
}

#menu-item{
  color: black;
  text-decoration: none;
  height: 25%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 100px;
}

#menu-item:hover{
  font-style: italic;
  background-color: #222;
  color:#d9f50e;
}

hr{
  height: .5px;
  color: black;
  width: 100%;
  margin: 0px;
}
.row{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
  padding: 0px;
  margin: 0px;
}

.left-column{
  width: 30%;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color:  #e6e6e6;
  margin: 0px;
}

.right-column{
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;

}

.lines {
  top: 0;
  height: 100%;
  margin: 0px;
}
.lines .line {
  position: relative;
  width: 1.5px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(34,34,34);
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}
.lines .line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(75%, #000000), to(#000000));
  background: linear-gradient(to bottom, rgba(230,230,230) 0%, #d9f50e 75%, #d9f50e 100%);
  -webkit-animation: run 10s 0s infinite;
          animation: run 10s 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.lines .line:nth-child(1) {
  margin-left: -25%;
}
.lines .line:nth-child(1)::after {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes run {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

@keyframes run {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }

@font-face {
  font-family: Osmose;
  font-weight: normal;
  src: url(font/Osmose-Medium.woff);
}

@font-face {
  font-family: Osmose;
  font-style: italic;
  src: url(font/Osmose-MediumItalic.woff);
}

@font-face {
  font-family: Oroban;
  src: url(font/Oroban-Hermonthica.otf);
}

@font-face {
  font-family: Oroban;
  font-style: italic;
  src: url(font/Oroban-HermonthicaItalic.woff);
}
